
.movingDiv{
border: solid 1px black;
position:relative;
margin:30px 5px;
padding:20px 5px;
width:30%;

line-height:60px;
}

fieldset{
border: solid 1px #777777;
}

.required{
background-color:#EEEE55;
}
