table {
    font-family: "Lucida Sans", Verdana, Arial, sans-serif;
    font-size: 1em;
}
tbody {
    background-color: #F1F1F1;
}
td, th {
    padding: 0.5em;
}
thead, tfoot {
    background-color: #CACACA;
}
caption {
    font-size: 1.2em; font-weight: bold; background-color: #DCA806; padding: 0.5em;
}
tbody tr:nth-child(odd) {
    background-color: white;
}